In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/lab5warmupdata.txt', delimiter='\t')

In [4]:
df.head()

  number1  number2
0   0,589  '0,589'
1   0,578  '0,578'
2   7,779  '7,779'
3   0,139  '0,139'
4   1,687  '1,687'

####Exercise 1: Strip the extra comma from the number1 column and convert to integer

In [1]:
#Your code here



ANSWER

df.number1.apply(lambda: x.replace(",","")).astype(int)

OR

def replace_comma(a):
    return x.replace(",","")

OR

df.number1.str.replace(",","").astype(int)

BUT THIS DOESNT WORK
df.number1.replace(",","")  -- because you need the str (string) method

IndentationError: expected an indented block (<ipython-input-1-e97074aff63a>, line 12)

In [ ]:
#Bonus: Do it a different way

####Exercise 2: Strip the extra quotation marks from the column2 and convert to integer

In [ ]:
#Your code here

x = 'otto'
x[1:-1]


df.number2.str[1:-1]